<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tatyana's Pre-Loved Clothing Store</title>
    <link rel='stylesheet' href='/stylesheets/home-page-style.css' />
</head>

<body>
    <div class="page">
        <header id="header">
            <div class="menu-top-section">
                <div class="thriftd">
                    <h1 id="H1-LOGO"><a id="LOGO" href="/products">thriftd</a></h1>
                </div>
                    <div id="UL-left-side">
                    <ul class="UL-left">
                        <li><strong><a href="/showAll">Show All</a></strong></li>
                        <li><strong><a href="/clothing">Clothing</a></strong></li>
                        <li><strong><a href="/accessories">Accesories</a></strong></li>
                    </ul>
                </div>
                <div class="menu-right">
                    <ul class="UL-right">
                            <% if (user) { %>
                            <li><button class="login-out-btn"><strong><a class="login-out-link" href="/logout">Logout</a></strong></button></li>
                            <li><strong><a href="/products/new">Post Item</a></strong></li>
                            <li><strong><a href="/users/<%= user._id %>/myItems">My Items</a></strong></li>
                    
                            
                            <% } else { %>
                            <li><button class="login-out-btn"><strong><a class="login-out-link" href="/auth/google">Login</a></strong></button></li>
                            <li><strong><a href="/auth/google">Sign Up</a></strong></li>
                             <% } %>
                        </li>
                    </ul>
                </div>
            </div>
            
          
        
        </header>