html {
    height: 100%; 
  }
  
  body {
    height: 100%; 
    /* padding: 27px;  */
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: black;
    text-decoration: none;
  }

  
  #header {
    display: flex; 
    flex-direction: column;
    margin-top: 1rem; 
  }
  
  
  .page {
    height: 100vh; 
    /* background-color: rgb(241, 168, 217); */
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background-color: white;
  }
  
  .menu-top-section {
    height: 40px; 
    background-color: white;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    color: black;
    font-size: 13px;
    
  }

  .UL-left {
      margin-left: -26rem; 
      margin-top: 1.15rem; 
  }
  
  .UL-left li {
    list-style-type: none;
    display: inline;
    padding-left: 2em; 
  }
  
  .UL-right li {
    list-style-type: none;
    display: inline; 
    padding-right: 2em; 
  }
  
  
  .menu-left {
    height: 50px; 
    width: 400px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  
  .menu-right {
    height: 50px; 
    width: 400px; 
    display: flex;
    flex-direction: row;
    align-items: center;
  } 
  

  
  .main-menu {
    display: flex; 
    justify-content: center; 
    margin-bottom: -1rem; 
  }
  
  .main-menu a {
    padding-left: 6em;
  }
  
  .btns {
    border: none; 
    background-color: white;
    cursor: pointer; 
    font-size: 17px;
  }
  
  
  
  .main {
    width: 100%; 
    background-color: #eaedee; 
    display: flex; 
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5rem; 
    min-height: 100px;
    overflow: hidden;
  }
  
  .main-divs {
    height: 425px; 
    width: 325px; 
    background-color: red;
  }

  #right-side-img1 {
      margin-left: 2rem; 
  }

  #right-side-img2 {
    margin-right: -8rem; 

  }


  
  #left-side-content {
    background-color: #eaedee; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    height: 400px; 
    width: 350px; 
    margin-right: 2rem; 
  }
  
  /* #right-side-img1 {
    margin-top: 2rem; 
  }

  #right-side-img2 {
    margin-top: 2rem; 
  } */

  .product-container {
      display: flex; 
      flex-direction: row;
      justify-content: center;
      min-width: 100px;
      min-height: 100px; 
      overflow: hidden;
      gap: 1rem; 
      margin-top: 1rem; 
      flex-wrap: wrap;
}

.product-container > div {
    padding-bottom: 1rem; 
}

  .product-boxes {
     display: flex; 
    flex-direction: column; 
    /* justify-content: center; */
    height: 250px; 
    width: 225px; 
  }

 

  #LOGO {
    font-size: 25px;
    color: black; 
    text-decoration: none;
    margin-left: 1rem; 
    margin-top: -1rem; 
    font-size: 30px;
    /* font should be targeted here */
}

#H1-LOGO {
    margin-top: 0.5rem; 
    margin-left: 1.5rem; 
    font-size: 20px; 
    /* movement should be targeted here */
}

.medium-size-text {
    margin-left: 2.4rem; 
}


 /* show product page css */

 .main-show {
    width: 100%; 
    background-color: #eaedee; 
    display: flex; 
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5rem; 
    min-height: 100px;
    overflow: hidden;
  }
  
  .main-show {
    background-color: #eaedee;
    display: flex; 
    justify-content: center;
    gap: 2rem; 


  }

 
  
  .main-divs-show {
    /* height: 425px; 
    width: 325px;  */
    background-color: #eaedee;
    display: flex; 
    justify-content: center; 
    gap: 1.5rem; 
  }
  
  #right-side-content {
    background-color: #eaedee; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    /* height: 425px;  */
    width: 350px; 
    margin-right: 2rem; 
    min-height: 100px; 
    
  }

  #left-side-img {
    min-height: 100px; 
    width: 400px; 
    min-height: 100px; 
    overflow: hidden;
  }

  #comment-section {
      margin-top: -1rem; 
      background-color: #eaedee;
      min-height: 100px; 
      overflow: hidden;
  }

  #update-delete {
      display: flex; 
      flex-direction: row;
  }

#button {
    margin-top: 2rem;
}

.new-post-form-container {
    display: flex; 
    margin: auto; 
    justify-content: center;
    /* width: 500px; */
    clear: both;
  }
  
  .new-post-form-container input {
    width: 100%;
    clear: both;
  }

  .form > * {
      padding: 1rem;
  }

  .form > button {
      padding: 1rem; 
  }

  .form > input {
      padding-top: 1rem; 
  } 

 

  label, input {
      display: block;
  }

  label {
      margin-bottom: -1rem; 
  }

  #img-upload-btn {
      margin-top: 0.6rem; 
  }

  #submit-btn {
    margin-top: 1rem; 
  }

  .NEW-POST-H2 {
      text-align: center; 
      margin-left: -12.3rem; 
      margin-top: 2rem; 
  }

  .item-description {
      height: 7em; 
      width: 25em; 
  }

  .small.input {
      width: 10em; 
  }

  #update-button {

  }


 


 