html {
    height: 100%; 
  }
  
  body {
    height: 100%; 
    /* padding: 27px;  */
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #00B7FF;
  }
  
  #header {
    display: flex; 
    flex-direction: column;
    margin-top: 1rem; 
  }
  
  
  .page {
    height: 100vh; 
    /* background-color: rgb(241, 168, 217); */
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background-color: white;
  }
  
  .menu-top-section {
    height: 40px; 
    background-color: white;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    color: #504F4f;
    font-size: 13px;
    
  }

  .UL-left {
      margin-left: -4rem; 
      margin-top: 1rem; 
  }
  
  .UL-left li {
    list-style-type: none;
    display: inline;
    padding-left: 2em; 
  }
  
  .UL-right li {
    list-style-type: none;
    display: inline; 
    padding-right: 2em; 
  }
  
  
  .menu-left {
    height: 50px; 
    width: 400px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  
  .menu-right {
    height: 50px; 
    width: 400px; 
    display: flex;
    flex-direction: row;
    align-items: center;
  } 
  
  /* .center-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.25rem;
  } */
  
  
  /* #slogan {
    padding-left: 1rem; 
  } */
  
  .main-menu {
    display: flex; 
    justify-content: center; 
    margin-bottom: -1rem; 
  }
  
  .main-menu a {
    padding-left: 6em;
  }
  
  .btns {
    border: none; 
    background-color: white;
    cursor: pointer; 
    font-size: 17px;
  }
  
  
  
  .main {
    width: 100%; 
    background-color: #eaedee; 
    display: flex; 
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5rem; 
    min-height: 100px;
    overflow: hidden;
  }
  
  .main-divs {
    height: 425px; 
    width: 325px; 
    background-color: red;
  }
  
  #left-side-content {
    background-color: #eaedee; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    height: 400px; 
    width: 350px; 
    margin-right: 2rem; 
  }
  
  /* #right-side-img1 {
    margin-top: 2rem; 
  }

  #right-side-img2 {
    margin-top: 2rem; 
  } */

  #product-container {
      display: flex; 
      flex-direction: row;
      justify-content: center;
      min-width: 100px;
      min-height: 100px; 
      overflow: hidden;
      gap: 1rem; 
      margin-top: 1rem; 
      flex-wrap: wrap;

  }

  .product-boxes {
    display: flex; 
    flex-direction: column; 
    height: 250px; 
    width: 250px;
}

  /* .thrifted {
      margin-left: 3rem; 
      margin-top: 1rem; 
      background-color: red;
      height: 50px; 
      width: 300px; 
  } */

  #LOGO {
    font-size: 25px;
    color: black; 
    text-decoration: none;
    margin-left: 1rem; 
    margin-top: -1rem; 
    font-size: 30px;
    /* font should be targeted here */
}

#H1-LOGO {
    margin-top: 0.5rem; 
    font-size: 20px; 
    /* movement should be targeted here */
}