@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* top is roboto bold */

* {
  box-sizing: border-box; 
}

html {
    min-height: 100%; 
    box-sizing: border-box;
    padding: 40px; 
  }
  
  body {
    min-height: 100%; 
    /* padding: 27px;  */
    font: 14px; 
    font-family: Arial;
  }
  
  a {
    color: black;
    text-decoration: none;
  }

  
  #header {
    display: flex; 
    flex-direction: column;
    margin-top: 1rem; 
    width: 90%;
  }
  
  
  .page {
    height: 100vh; 
    /* background-color: rgb(241, 168, 217); */
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background-color: white;
  }
  
  .menu-top-section {
    height: 40px; 
    background-color: white;
    display: flex; 
    flex-direction: row; 
    /* justify-content: space-around;  */
    align-items: center; 
    /* align-content: space-around; */
    /* color: black; */
    font-size: 13px;
    /* gap: 10px 30px;  */
    /* flex-grow: 3;  */
    /* padding-right: 2rem; */
    width: 90%; 
    
  }

  /* .UL-left {
      margin-left: -26rem; 
      /* margin-top: 1.15rem;  */
  /* } */ 
  
  .UL-left li {
    list-style-type: none;
    display: inline;
    padding-left: 2em; 
    font-size: 14px; 
    font-weight: bold; 
  }
  
  .UL-right li {
    list-style-type: none;
    display: inline; 
    padding-right: 2em; 
    font-size: 14px; 
    font-weight: bold; 
  }
  
  
  /* .menu-left {
    height: 50px; 
    width: 400px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    
  } */
  
  .menu-right {
    height: 50px; 
    /* width: 400px;  */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto; 
    margin-right: -12rem; 

    /* margin-right: 1rem;  */
  } 
  


  #UL-left {
   padding: none; 
  }

  #UL-left-side {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem; 
  }

 

  
  
  .thriftd {
    padding-left: 4rem 
  }
  
  .main {
    width: 100%; 
    /* width: 100%;  */
    background-color: #eaedee; 
    display: flex; 
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5rem; 
    min-height: 100px;
    overflow: hidden;
    padding-left: 4rem;
    padding-right: 4rem;
    /* padding: 0 6rem;  */
    
  }
  
  .main-divs {
    /* height: 425px;  */
    /* width: 325px;  */
    background-color: #eaedee; 
    /* margin-left: 2rem; */
  }

  

  #img-container {
    width: 50%; 
    display: flex; 
    flex-direction: row;
    padding-right: 4rem; 
     
  }

  
  #left-side-content {
    background-color: #eaedee; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    height: 400px; 
    width: 50%; 
    padding-right: 6.5rem; 
  }

 
  

  .product-container {
      display: flex; 
      flex-direction: row;
      justify-content: center;
      min-width: 100px;
      min-height: 100px; 
      overflow: hidden;
      gap: 1rem; 
      margin-top: 1rem; 
      flex-wrap: wrap;
      margin: auto;
      width: 90%;
      padding: 10px;
  }
  

.product-container > div {
    padding-bottom: 1rem; 
}

  .product-boxes {
     display: flex; 
    flex-direction: column; 
    /* justify-content: center; */
    height: 275px; 
    width: 225px; 
    position: relative; 
  }

  .product-boxes > form > button {
    background-color: transparent;
    cursor: pointer; 
    border: none; 
    color: red; 
    font-size: 20px; 
  }

  .product-boxes > form {
    position: absolute; 
    right: 0; 
  }

 

  #LOGO {
    font-size: 35px; 
    color: black; 
    text-decoration: none;
    /* margin-left: 1rem;  */
    margin-top: -1rem; 
    font-size: 35px;
   
    /* font-family: 'Merriweather Sans', sans-serif; */
    /* font-family: 'Mulish', sans-serif; */
    /* font should be targeted here */
    font-family: 'Nunito', sans-serif;
    
}

#H1-LOGO {
    /* margin-top: 0.2rem;  */
    /* margin-left: 2.5rem;  */
    font-size: 30px; 
    /* movement should be targeted here */
}



 /* show product page css */

 .main-show {
    width: 100%; 
    background-color: #eaedee; 
    display: flex; 
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5rem; 
    min-height: 100px;
    overflow: hidden;
  }
  
  .main-show {
    background-color: #eaedee;
    display: flex; 
    justify-content: center;
    gap: 2rem; 


  }

 
  
  .main-divs-show {
    /* height: 425px; 
    width: 325px;  */
    background-color: #eaedee;
    display: flex; 
    justify-content: center; 
    gap: 1.5rem; 
  }
  
  #right-side-content {
    background-color: #eaedee; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    /* height: 425px;  */
    width: 350px; 
    margin-right: 2rem; 
    min-height: 100px; 
    
  }

  #left-side-img {
    min-height: 100px; 
    width: 400px; 
    min-height: 100px; 
    overflow: hidden;
  }

  #comment-section {
      margin-top: -1rem; 
      background-color: #eaedee;
      min-height: 100px; 
      overflow: hidden;
  }

  .btns-container{
      display: flex; 
      flex-direction: row;
      gap: 0.5rem
  }

#button {
    margin-top: 2rem;
}

.login-out-btn {
    background-color: red;
    border: none; 
    height: 30px; 
    width: 80px; 
    border-radius: 18px;
}

.login-out-link {
    color: white; 
}

.blk-btns-small {
    background-color: black;
    color: white;
    height: 45px; 
    width: 100px; 
    border: none; 
    font-size: 16px; 
}

#update-button {
  margin-left: 1rem;
  margin-top: 1rem;
  width: 21em; 
}

.white-links {
  color: white; 
}

.show-page-UL {
  list-style-type: none; 
  padding-inline-start: unset;
  margin-top: -1rem;
}

.show-page-UL > li {
  padding: 1px; 
  color: rgb(37, 37, 37); 
  font-family: 'Roboto', sans-serif;
  padding-right: 2px; 
}

.show-page-UL > li:first-child {
  font-weight: bold;
}

#item-title {
  font-weight: bold;
  /* padding-bottom: -4rem;  */
  margin-top: 3rem; 
}

#item-description {
  margin-bottom: 2rem;  
  padding-top: -3rem; 
}

.comment-box {
  width: 11.75rem;
  height: 15px;
  padding: 10px; 
  font: 1em;
  margin-top: -0.75rem;
}

.comment-button {
  margin-top: 5px; 
  border: none; 
  background-color: grey;
  color: white; 
}

.comments {
  font-size: 14px; 
}


.new-post-form-container {
    display: flex; 
    margin: auto; 
    justify-content: center;
    flex-direction: column;
    /* width: 500px; */
    clear: both;
    width: 30%;
    margin-top: 1rem
  }
  
  .new-post-form-container input {
    width: 100%;
    clear: both;
  }

  .form > * {
      padding: 1rem;
  }

  .form > button {
      padding: 1rem; 
  }

  .form > input {
      padding-top: 1rem; 
  } 

 

  label, input {
      display: block;
  }

  label {
      margin-bottom: -1rem; 
  }

   

  #img-upload-btn {
      margin-top: 0.6rem;
      margin-bottom: 1rem; 
      /* position: absolute;  */
      /* border: none; 
      background-color: red;
      color: white;   */
      /* border: none; 
      background-color: red;
      color: white;   */
  }

 

  .input-submit-btn {
    border: none; 
    background-color: red;
    color: white; 
  }
  /* #file-upload-button {
     border: none; 
      background-color: red;
      color: white;  
  } */

 

  .NEW-POST-H2 {
    margin-left: 1rem;
  }

  .item-description {
      height: 7em; 
      width: 25em; 
  }

  .small.input {
      width: 10em; 
  }

  /* user myItems page */

  .user-info-container {
    display: flex; 
    flex-direction: row;
    margin-top: 2rem;
    gap: 1rem; 
  }

  .avatar {
    display: flex;
    /* justify-content: center; */
  }

  .user-info {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    max-width: 200px; 
    font-family: 'Roboto', sans-serif;
  }


  #avatarIMG {
    display: flex;
    align-self:center; 
    padding-left: 3.5rem;
  }

  #user-info-P {
    margin-top: -0.5rem; 
  }

  .my-items-headings {
    padding-left: 3.5rem;
    font-family: 'Roboto', sans-serif; 
  }

  /* categories EJS's */

  .product-index {
    margin-top: 3rem; 
  }

  #place-order-btn { 
      margin-left: 1rem;
      margin-top: 1rem;
      width: 18.5em; 
    }

    #shop-now-btn {
      margin-top: 1em
    }

    #recently-added {
      padding-left: 4rem;
    }

    .medium-size-text {
      padding-left: 4rem;
      font-family: 'Roboto', sans-serif;
    }

    .roboto {
      font-family: 'Roboto', sans-serif;
    }

    .roboto-bold {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
    }

    .arial-small {
      font-size: 15px; 
    }

    #order-details {
      display: flex;  
      flex-direction: row;
      width: 100%; 
    }

    #order-placed-container {
      display: flex; 
      margin: auto; 
      flex-direction: column;
      width: 50%; 
      min-height: 100px; 
      overflow: hidden; 
      justify-content: center;
      padding-top: 1rem; 
      font-family: 'Roboto', sans-serif;
    }

    #order-placed-UL {
      display: flex;
      flex-direction: column; 
      width: 50%; 
      min-height: 100px; 
      overflow: hidden; 
}

#order-placed-UL > li {
  font-family: 'Roboto', sans-serif;
}

#order-placed-img {
  display: flex; 
  width: 50%; 
  
}

#index-text {
  font-size: 14px; 
}

.li-small {
  font-size: 14px; 
}
    




 


 


 