<%-include('../partials/header') %>


 
<div class="new-post-form-container">
    <h2 class="NEW-POST-H2">List New Item</h2>
    <form id="new-post-form" class="form" action="/products" method="POST" enctype="multipart/form-data">
        <label><strong>Title:</strong><br>
            <textarea type="text" name="title" required placeholder="Short title for your item"></textarea>
        </label>
        <label><strong>Description:</strong><br>
            <textarea class="item-description" type="text" name="description" required placeholder="Tell us about your item. Be descriptive as possible without repeating yourself."></textarea>
        </label>
        <label for='category'><strong>Category:</strong>
            <select name="category" required>
                <option value="Clothing">Clothing</option>
                <option value="Accessories">Accessories</option>
            </select>
        </label>
           <label><strong>Size:</strong>
                <select name="size" required>
                    <option value="NA">N/A</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
            </label>
        <label><strong>Price:$</strong>
            <input class="small input" type="text" required name="price" placeholder="Enter number">
        </label>
        <label><strong>Brand:</strong>
            <input class="small input" type="text" required name="brand">
        </label>
        <label><strong>Color:</strong>
            <input class="small input" type="text" required name="color">
        </label>
        <label><strong>Condition:</strong>
            <select name="condition" required>
                <option value="true vintage, VG">true vintage-VG</option>
                <option value="deadstock, LIKE NEW">deadstock-LIKE NEW</option>
                <option value="collectible-needs love">collectible-NEEDS LOVE</option>
                <option value="modern pre-loved, VG">modern pre-loved-VG+</option>
                <option value="modern pre-loved, LIKE NEW">modern pre-loved-LIKE NEW</option>
            </select>
        </label>
            <label><strong>Shipping:$</strong>
                <input class="small input" type="text" name="shipping" required placeholder="Enter number">
            </label>
            <label><strong>Upload Images:</strong>
                    <input id="img-upload-btn" type="file" name='image'>
                    <input id="submit-btn" class="blk-btns-small" type="submit">
            </label>
            <div id="submit-message"><h2></h2></div>
    </form>
</div>



<script>

    let message = document.getElementById('submit-message')
let form = document.getElementById('new-post-form')
form.addEventListener('submit', function() {
    message.innerHTML = 'Loading...please wait'
})

</script>




<%-include('../partials/footer') %>

